<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 text-center">
      <h1>Quiz App by Danny Pham</h1>
    </div>
    <!-- <div class="col-md-6 col-lg-6 col-sm-12 text-center">
      <h3>QuizType:</h3>
      <select
        (change)="routeToLink($event.target.value)"
        class="form-control"
        [(ngModel)]="selectedNavLink"
      >
        <option
          *ngFor="let link of navLinks"
          [value]="link.pathLink"
          [routerLink]="link.pathLink"
        >
          {{ link.label }}
        </option>
      </select>
    </div> -->
  </div>
</div>

<hr />

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 text-center">
      <h2>Quiz application instructions:</h2>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 text-center">
      <p>1. Please select a quiz type of your choice.</p>
      <p>2. Press the "Start" button to start the quiz.</p>
      <p>3. Please make sure to answer all questions.</p>
      <p>4. Results will be shown in the end of the test.</p>
      <p>
        5. Refresh the browser and click start again if you'd like to try again.
      </p>
      <button
        [disabled]="startHit"
        class="btn btn-success"
        (click)="startQuiz()"
      >
        Start
      </button>
    </div>
  </div>
</div>

<div class="container" *ngIf="startHit">
  <router-outlet></router-outlet>
</div>
